main {
 @include flexStartColumn();
 

  h1 {
    font-family:  $OpenSans;
    font-weight: 400;
    font-size: 32px;
    color: $darkGrey;
    line-height: 28px;
    letter-spacing: 2.4px;
    text-align: center;
  }

  h3 {
    font-family: $OpenSans;
    font-weight: 400;
    font-size: 19px;
    color: $lightGrey;
    line-height: 31px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  #card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   

    .card {
      height: 340px;
      width: 260px;
      border: 1px solid $lightGrey;
      border-radius: 5px;
      margin: 20px;
      @include flexCenterColumn();

      .circle {
        height: 100px;
        width: 100px;
        background-color: $buttonColor;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h4 {
        font-family: $OpenSans;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.9px;
        color: $lightGrey;
        font-weight: 400;
      }
      p {
        text-align: center;
        color: $lightGrey;
        font-weight: 400;
        font-family: $OpenSans;
        font-size: 16px;
      }
    }
  }
}


@media screen and (max-width: 900px) {
  #card-container {
   display:flex;
   justify-content: flex-start!important;
   align-items: center;
   flex-direction: column!important;

   
  }
}
  

