$buttonColor: #4ac1ff;
$lightGrey: #bbbbbb;
$darkGrey: #666f77;
$heroText: white;


//Fonts
$OpenSans: "Open Sans", sans-serif;


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexStartColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}